# Private files
privateFiles

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Compiled binary addons (https://nodejs.org/api/addons.html)
build

dist/*

# Dependency directories
node_modules/

# Secret files
.streamlit/secrets.toml

